@-webkit-keyframes spin-360 {
from {
-webkit-transform:rotate(0);
-moz-transform:rotate(0);
-ms-transform:rotate(0);
-o-transform:rotate(0);
transform:rotate(0);
zoom:1
}
50% {
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
transform:rotate(180deg);
zoom:1
}
to {
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	zoom:1
}
}
@font-face {
	font-family:FontAwesomeSensei;
	src:url(../fonts/fontawesome-webfont.eot);
	src:url(../fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff) format('woff'), url(../fonts/fontawesome-webfont.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
#main .course, #main .course-container {
	position:relative;
	margin:0 0 1.618em;
	padding:0 0 1em;
	border-bottom:1px solid #e2e2e2
}
#main .course:after, #main .course-container:after {
	content:"\0020";
	display:block;
	height:0;
	overflow:hidden;
	clear:both
}
#main .course header h2, #main .course-container header h2 {
	margin:0
}
#main .course .course-meta, #main .course-container .course-meta {
	margin-bottom:20px;
	clear:both
}
#main .course .course-meta .view-results, #main .course-container .course-meta .view-results {
	text-align:right;
	margin:5px 0;
	font-size:90%
}
#main .course .course-meta .single_add_to_cart_button, #main .course-container .course-meta .single_add_to_cart_button {
	font-size:1em;
	position:relative;
	top:.2em;
	margin-bottom: 20px;
}
#main .course .course-meta .single_add_to_cart_button ins, #main .course-container .course-meta .single_add_to_cart_button ins { background:none; }
#main .course .sensei-course-meta, #main .course-container .sensei-course-meta {
	font-style:normal;
	font-size:.9em;
	color:#888
}
#main .course .sensei-course-meta a, #main .course-container .sensei-course-meta a, #main .course .sensei-course-meta span {
	color:#808080;
}
#main .course .sensei-course-meta .course-price, #main .course-container .sensei-course-meta .course-price {
	position:absolute;
	top:0;
	right:0;
	display:block;
	font-style:normal;
	font-weight:700;
	font-size:14px;
	color:#ffffff;
	padding:5px 10px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box
}
#main .course .sensei-course-meta .course-price ins, #main .course-container .sensei-course-meta .course-price ins { background:none; }
#main .course .sensei-course-meta .course-price span, #main .course-container .sensei-course-meta .course-price span { color:#ffffff; }
#main .course .entry-actions span, #main .course-container .entry-actions span {
	margin:0 1em 0 0
}
#main .course .course-lessons>header, #main .course-container .course-lessons>header, #main .course .module-lessons>header, #main .course-container .module-lessons>header {
	margin:2.244em 0 1.618em;
	padding:2.244em 0 0;
	border-top:2px solid #e2d6c1
}
#main .course .course-lessons>header .course-completion-rate, #main .course-container .course-lessons>header .course-completion-rate, #main .course .module-lessons>header .course-completion-rate, #main .course-container .module-lessons>header .course-completion-rate {
	font-style:normal;
}
#main .course .course-lessons>header .meter, #main .course-container .course-lessons>header .meter, #main .course .module-lessons>header .meter, #main .course-container .module-lessons>header .meter {
	margin:1em 0 3em
}
#main .course .course-lessons .lesson header h2, #main .course-container .course-lessons .lesson header h2, #main .course .module-lessons .lesson header h2, #main .course-container .module-lessons .lesson header h2 {
	margin:0
}
#main .course .course-lessons .lesson p.lesson-meta, #main .course-container .course-lessons .lesson p.lesson-meta, #main .course .module-lessons .lesson p.lesson-meta, #main .course-container .module-lessons .lesson p.lesson-meta {
	font-style:normal;
	font-size:13px;
	color:#888;
	margin-bottom: 10px;
}
#main .course .course-lessons .lesson p.lesson-meta a, #main .course-container .course-lessons .lesson p.lesson-meta a, #main .course .module-lessons .lesson p.lesson-meta a, #main .course-container .module-lessons .lesson p.lesson-meta a {
	color:#555
}
#main .course .course-lessons .lesson p.lesson-meta span, #main .course-container .course-lessons .lesson p.lesson-meta span, #main .course .module-lessons .lesson p.lesson-meta span, #main .course-container .module-lessons .lesson p.lesson-meta span {
	padding-left:0px;
}
#main .course .course-lessons .lesson p.lesson-meta span:first-child, #main .course-container .course-lessons .lesson p.lesson-meta span:first-child, #main .course .module-lessons .lesson p.lesson-meta span:first-child, #main .course-container .module-lessons .lesson p.lesson-meta span:first-child {
	padding-left:0
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status, #main .course .module-lessons .lesson p.lesson-meta .lesson-status, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status {
	font-style:normal
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.complete {
	color:#63a95f
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.complete:before {
	font-family:FontAwesomeSensei;
	display:inline-block;
	font-size:100%;
	margin-right:.618em;
	font-weight:400;
	line-height:1em;
	width:1em;
	content:'\f00c'
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.in-progress {
	color:#555
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.in-progress:before {
	font-family:FontAwesomeSensei;
	display:inline-block;
	font-size:100%;
	margin-right:.618em;
	font-weight:400;
	line-height:1em;
	width:1em;
	content:'\f110'
}
#main .course-container .module-lessons>header {
	margin:0 0 1.618em;
	padding:0;
	border-top:0
}
.course .status, .course-lessons .status, .course-container .status {
	padding:.382em 1em;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	color:#fff;
	font-weight:700;
	display:inline-block
}
.course .status:before, .course-lessons .status:before, .course-container .status:before {
	font-family:FontAwesomeSensei;
	display:inline-block;
	font-size:100%;
	margin-right:.618em;
	font-weight:400;
	line-height:1em;
	width:1em
}
.course .status.completed, .course-lessons .status.completed, .course-container .status.completed {
	background:#63a95f
}
.course .status.completed:before, .course-lessons .status.completed:before, .course-container .status.completed:before {
	content:"\f00c"
}
.course .status.in-progress:before, .course-lessons .status.in-progress:before, .course-container .status.in-progress:before {
	content:"\f110"
}
.course .status.register, .course-lessons .status.register, .course-container .status.register {
	background:#ed6c6c;
}

.course .status.register a, .course-lessons .status.register a, .course-container .status.register a {
	color:#fff;
	text-decoration:none;
}
.lesson-course {
	margin:2em 0;
	font-style:italic;
	color:#888;
	font-size:.9em
}
.lesson-course a:after {
	font-family:FontAwesomeSensei;
	display:inline-block;
	font-size:100%;
	margin-left:.618em;
	font-weight:400;
	line-height:1em;
	width:1em;
	text-align:right;
	content:'\f112';
	margin-left:3px
}
.lesson-tags {
	margin:2em 0;
	font-style:italic;
	color:#888;
	font-size:.9em
}
.quiz form ol#sensei-quiz-list {
	margin:0 0 1.618em
}
.quiz form ol#sensei-quiz-list li {
	position:relative;
	margin:0 0 1.618em;
	font-size:1.1em
}
.quiz form ol#sensei-quiz-list li>span {
	display:block;
	margin:0 0 1em;
	font-weight:700
}
.quiz form ol#sensei-quiz-list li>span span {
	float:right
}
.quiz form ol#sensei-quiz-list li .question_media_display {
	margin:10px 0
}
.quiz form ol#sensei-quiz-list li .question_media_display dd {
	font-style:italic
}
.quiz form ol#sensei-quiz-list li .submitted_file {
	font-weight:700
}
.quiz form ol#sensei-quiz-list li .reupload_notice {
	font-style:italic;
	margin-bottom:5px
}
.quiz form ol#sensei-quiz-list li .max_upload_size {
	font-style:italic;
	font-size:75%
}
.quiz form ol#sensei-quiz-list li ul {
	position:relative;
	z-index:1;
	margin:.53em 0
}
.quiz form ol#sensei-quiz-list li ul li {
	margin:0 0 .382em;
	font-weight:400;
	font-size:.9em;
	list-style:none;
	padding-bottom:0px;
}
.quiz form ol#sensei-quiz-list li ul li.right_answer {
	color:green
}
.quiz form ol#sensei-quiz-list li ul li.user_right {
	color:green;
	font-weight:700
}
.quiz form ol#sensei-quiz-list li ul li.user_wrong {
	color:red
}
.quiz form ol#sensei-quiz-list li ul li input {
	margin:0 .382em 0 0
}
.quiz form ol#sensei-quiz-list li ul li label {
	vertical-align:middle
}
.quiz form ol#sensei-quiz-list li .answer_message {
	position:absolute;
	right:0;
	top:50%;
	width:50%;
	z-index:2;
	text-align:right
}
.quiz form ol#sensei-quiz-list li .answer_message span {
	text-align:right
}
.quiz form ol#sensei-quiz-list li .answer_message.has_notes span {
	cursor:help;
	border-bottom:1px dotted
}
.quiz form ol#sensei-quiz-list li .answer_message.user_right {
	color:green;
	border-color:green
}
.quiz form ol#sensei-quiz-list li .answer_message.user_wrong {
	color:red;
	border-color:red
}
.quiz form ol#sensei-quiz-list li .answer_message .notes {
	display:none;
	cursor:help;
	z-index:9;
	position:absolute;
	top:20px;
	right:0;
	width:100%;
	background:#FFF;
	border:1px solid;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	padding:10px;
	font-size:85%;
	text-align:left
}
.quiz form ol#sensei-quiz-list li.essay-paste .answer_message, .quiz form ol#sensei-quiz-list li.gap-fill .answer_message, .quiz form ol#sensei-quiz-list li.multi-line .answer_message, .quiz form ol#sensei-quiz-list li.single-line .answer_message {
	position:relative;
	width:100%;
	margin:10px 0;
	text-align:right
}
.quiz form ol#sensei-quiz-list li.essay-paste .answer_message .notes, .quiz form ol#sensei-quiz-list li.gap-fill .answer_message .notes, .quiz form ol#sensei-quiz-list li.multi-line .answer_message .notes, .quiz form ol#sensei-quiz-list li.single-line .answer_message .notes {
	width:50%
}
.quiz form input.quiz-submit {
	margin-right:10px
}
.quiz input.quiz-submit.complete, .lesson input.quiz-submit.complete {
	background:#63a95f
}
.quiz input.quiz-submit.reset, .lesson input.quiz-submit.reset {
	background:#ed6c6c
}
.lesson input.quiz-submit {
	margin-top:1em
}
.single-lesson .lesson_button_form {
	display:inline-block;
}
div.course-container div.course {
	display:block;
	padding:5px
}
section.entry span.course-lesson-count {
	padding-left:10px
}
section.entry span.course-category {
	padding-left:10px
}
section.entry span.course-lesson-progress {
	padding-left:10px
}
section.entry span.course-price {
	padding-left:10px
}
.sensei form .form-row {
	padding:3px;
	margin:0 0 6px
}
.sensei form .form-row [placeholder]:focus::-webkit-input-placeholder {
-webkit-transition:opacity .5s .5s ease;
-moz-transition:opacity .5s .5s ease;
transition:opacity .5s .5s ease;
opacity:0
}
.sensei form .form-row label {
	line-height:2em
}
.sensei form .form-row label.hidden {
	visibility:hidden
}
.sensei form .form-row label.inline {
	display:inline
}
.sensei form .form-row select {
	cursor:pointer;
	margin:0
}
.sensei form .form-row .required {
	color:red;
	font-weight:700;
	border:0
}
.sensei form .form-row .input-checkbox {
	display:inline;
	margin:-2px 8px 0 0;
	text-align:center;
	vertical-align:middle
}
.sensei form .form-row input.input-text, .sensei form .form-row textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin:0;
	outline:0;
	line-height:1em
}
.sensei form .form-row textarea {
	height:4em;
	line-height:1.5em;
	display:block;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
.sensei form .form-row.validate-required .chosen-single, .sensei form .form-row.validate-required .chosen-drop, .sensei form .form-row.validate-required input.input-text, .sensei form .form-row.validate-required select {
	border-color:#fb7f88
}
.sensei form .form-row ::-webkit-input-placeholder {
line-height:normal
}
.sensei form .form-row :-moz-placeholder {
line-height:normal
}
.sensei form .form-row :-ms-input-placeholder {
line-height:normal
}
#my-courses .register-link {
	clear:both
}
#my-courses form#loginform label {
	display:block
}
#my-courses form#loginform input[type=text], #my-courses form#loginform input[type=password] {
	width:90%
}
#learner-info h2 {
	margin:20px 0
}
#learner-info .learner-avatar {
	float:left;
	width:120px; margin-right:20px;
}
#learner-info .learner-content {
	float:left;
	width:calc(100% - 140px);
	width:-webkit-calc(100% - 140px);
	width:-moz-calc(100% - 140px);
	width:-o-calc(100% - 140px)
}
#learner-info .learner-content h2 {
	margin-top:0; margin-bottom:15px;
}
#learner-info .fix {
	clear:both
}
.course-container {
	margin:0 0 4.236em
}
.course-container .archive-header {
	border:0;
	padding:0
}
.course-container .archive-header h1 {
	margin:0;
	padding:0 0 .53em;
	border:0;
	font-size:1.387em;
	color:#333;
	border-bottom:2px solid #e2d6c1;
	width:100%
}
.course-container .navigation {
	float:right;
	margin:-10px 0 0;
	text-align:right
}
.course-container .navigation a {
	font-weight:700;
	text-transform:uppercase;
	font-size:11px
}
.course-results-lessons h2 {
	margin:20px 0
}
.course-results-lessons h2.total-grade {
	text-decoration:underline
}
.course-results-lessons h2.total-grade .lesson-grade {
	text-decoration:underline
}
.course-results-lessons h2 .lesson-grade {
	float:right
}
.meter {
	height:25px;
	position:relative;
	margin:20px 0;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	clear:both;
	background:#f5e9d4;
}
.meter>span {
	display:block;
	padding:1px 10px 0 0;
	height:100%;
	background-color:#63a95f;
	position:relative;
	overflow:hidden;
	text-align:right;
	color:#fff;
	min-width:45px;
	font-weight:700;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.meter.red>span {
	background:#ed6c6c
}
.nav-next, .nav-prev {
	width:auto!important
}
.nav-next {
	float:right
}
.nav-next .meta-nav:before {
	content:"\2192"
}
.nav-prev {
	float:left
}
.nav-prev .meta-nav:before {
	content:"\2190"
}
.course-container p.sensei-message, .course p.sensei-message, .lesson p.sensei-message, .quiz p.sensei-message, .learner-info p.sensei-message, .course-container div.sensei-message, .course div.sensei-message, .lesson div.sensei-message, .quiz div.sensei-message, .learner-info div.sensei-message {
	clear:both;
	margin:1.387em 0 1.618em;
	padding:1em 1.618em;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box
}
.course-container p.sensei-message:before, .course p.sensei-message:before, .lesson p.sensei-message:before, .quiz p.sensei-message:before, .learner-info p.sensei-message:before, .course-container div.sensei-message:before, .course div.sensei-message:before, .lesson div.sensei-message:before, .quiz div.sensei-message:before, .learner-info div.sensei-message:before {
	font-family:FontAwesomeSensei;
	display:inline-block;
	font-size:100%;
	margin-right:.618em;
	font-weight:400;
	line-height:1em;
	width:1em;
	font-size:1.387em;
	position:relative;
	top:.1em
}
.course-container p.sensei-message.medium, .course p.sensei-message.medium, .lesson p.sensei-message.medium, .quiz p.sensei-message.medium, .learner-info p.sensei-message.medium, .course-container div.sensei-message.medium, .course div.sensei-message.medium, .lesson div.sensei-message.medium, .quiz div.sensei-message.medium, .learner-info div.sensei-message.medium {
	padding:18px 20px 18px 50px;
	font-size:1.1em
}
.course-container p.sensei-message.large, .course p.sensei-message.large, .lesson p.sensei-message.large, .quiz p.sensei-message.large, .learner-info p.sensei-message.large, .course-container div.sensei-message.large, .course div.sensei-message.large, .lesson div.sensei-message.large, .quiz div.sensei-message.large, .learner-info div.sensei-message.large {
	padding:25px 27px 25px 50px;
	font-size:1.2em
}
.course-container p.sensei-message.rounded, .course p.sensei-message.rounded, .lesson p.sensei-message.rounded, .quiz p.sensei-message.rounded, .learner-info p.sensei-message.rounded, .course-container div.sensei-message.rounded, .course div.sensei-message.rounded, .lesson div.sensei-message.rounded, .quiz div.sensei-message.rounded, .learner-info div.sensei-message.rounded {
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px
}
.course-container p.sensei-message a, .course p.sensei-message a, .lesson p.sensei-message a, .quiz p.sensei-message a, .learner-info p.sensei-message a, .course-container div.sensei-message a, .course div.sensei-message a, .lesson div.sensei-message a, .quiz div.sensei-message a, .learner-info div.sensei-message a {
	text-decoration:underline
}
.course-container p.sensei-message a:hover, .course p.sensei-message a:hover, .lesson p.sensei-message a:hover, .quiz p.sensei-message a:hover, .learner-info p.sensei-message a:hover, .course-container div.sensei-message a:hover, .course div.sensei-message a:hover, .lesson div.sensei-message a:hover, .quiz div.sensei-message a:hover, .learner-info div.sensei-message a:hover {
	text-decoration:none
}
.course-container p.sensei-message.alert, .course p.sensei-message.alert, .lesson p.sensei-message.alert, .quiz p.sensei-message.alert, .learner-info p.sensei-message.alert, .course-container div.sensei-message.alert, .course div.sensei-message.alert, .lesson div.sensei-message.alert, .quiz div.sensei-message.alert, .learner-info div.sensei-message.alert {
	background:#ffd9c8
}
.course-container p.sensei-message.alert:before, .course p.sensei-message.alert:before, .lesson p.sensei-message.alert:before, .quiz p.sensei-message.alert:before, .learner-info p.sensei-message.alert:before, .course-container div.sensei-message.alert:before, .course div.sensei-message.alert:before, .lesson div.sensei-message.alert:before, .quiz div.sensei-message.alert:before, .learner-info div.sensei-message.alert:before {
	content:'\f071';
	color:#ed6c6c
}
.course-container p.sensei-message.alert a, .course p.sensei-message.alert a, .lesson p.sensei-message.alert a, .quiz p.sensei-message.alert a, .learner-info p.sensei-message.alert a, .course-container div.sensei-message.alert a, .course div.sensei-message.alert a, .lesson div.sensei-message.alert a, .quiz div.sensei-message.alert a, .learner-info div.sensei-message.alert a {
	color:#e73f3f
}
.course-container p.sensei-message.alert a:hover, .course p.sensei-message.alert a:hover, .lesson p.sensei-message.alert a:hover, .quiz p.sensei-message.alert a:hover, .learner-info p.sensei-message.alert a:hover, .course-container div.sensei-message.alert a:hover, .course div.sensei-message.alert a:hover, .lesson div.sensei-message.alert a:hover, .quiz div.sensei-message.alert a:hover, .learner-info div.sensei-message.alert a:hover {
	color:#e52828
}
.course-container p.sensei-message.download, .course p.sensei-message.download, .lesson p.sensei-message.download, .quiz p.sensei-message.download, .learner-info p.sensei-message.download, .course-container div.sensei-message.download, .course div.sensei-message.download, .lesson div.sensei-message.download, .quiz div.sensei-message.download, .learner-info div.sensei-message.download, .course-container p.sensei-message.tick, .course p.sensei-message.tick, .lesson p.sensei-message.tick, .quiz p.sensei-message.tick, .learner-info p.sensei-message.tick, .course-container div.sensei-message.tick, .course div.sensei-message.tick, .lesson div.sensei-message.tick, .quiz div.sensei-message.tick, .learner-info div.sensei-message.tick { background:#eafac0; border: 1px solid #b1cf67; display:inline-block; width:100%; box-sizing:border-box; color: #7ba411; }

.course-container p.sensei-message.download:before, .course p.sensei-message.download:before, .lesson p.sensei-message.download:before, .quiz p.sensei-message.download:before, .learner-info p.sensei-message.download:before, .course-container div.sensei-message.download:before, .course div.sensei-message.download:before, .lesson div.sensei-message.download:before, .quiz div.sensei-message.download:before, .learner-info div.sensei-message.download:before, .course-container p.sensei-message.tick:before, .course p.sensei-message.tick:before, .lesson p.sensei-message.tick:before, .quiz p.sensei-message.tick:before, .learner-info p.sensei-message.tick:before, .course-container div.sensei-message.tick:before, .course div.sensei-message.tick:before, .lesson div.sensei-message.tick:before, .quiz div.sensei-message.tick:before, .learner-info div.sensei-message.tick:before {
	content:'\f019';
	color:#63a95f
}
.course-container p.sensei-message.download a, .course p.sensei-message.download a, .lesson p.sensei-message.download a, .quiz p.sensei-message.download a, .learner-info p.sensei-message.download a, .course-container div.sensei-message.download a, .course div.sensei-message.download a, .lesson div.sensei-message.download a, .quiz div.sensei-message.download a, .learner-info div.sensei-message.download a, .course-container p.sensei-message.tick a, .course p.sensei-message.tick a, .lesson p.sensei-message.tick a, .quiz p.sensei-message.tick a, .learner-info p.sensei-message.tick a, .course-container div.sensei-message.tick a, .course div.sensei-message.tick a, .lesson div.sensei-message.tick a, .quiz div.sensei-message.tick a, .learner-info div.sensei-message.tick a {
	color:#4e8b4a
}
.course-container p.sensei-message.download a:hover, .course p.sensei-message.download a:hover, .lesson p.sensei-message.download a:hover, .quiz p.sensei-message.download a:hover, .learner-info p.sensei-message.download a:hover, .course-container div.sensei-message.download a:hover, .course div.sensei-message.download a:hover, .lesson div.sensei-message.download a:hover, .quiz div.sensei-message.download a:hover, .learner-info div.sensei-message.download a:hover, .course-container p.sensei-message.tick a:hover, .course p.sensei-message.tick a:hover, .lesson p.sensei-message.tick a:hover, .quiz p.sensei-message.tick a:hover, .learner-info p.sensei-message.tick a:hover, .course-container div.sensei-message.tick a:hover, .course div.sensei-message.tick a:hover, .lesson div.sensei-message.tick a:hover, .quiz div.sensei-message.tick a:hover, .learner-info div.sensei-message.tick a:hover {
	color:#457a42
}
.course-container p.sensei-message.tick:before, .course p.sensei-message.tick:before, .lesson p.sensei-message.tick:before, .quiz p.sensei-message.tick:before, .learner-info p.sensei-message.tick:before, .course-container div.sensei-message.tick:before, .course div.sensei-message.tick:before, .lesson div.sensei-message.tick:before, .quiz div.sensei-message.tick:before, .learner-info div.sensei-message.tick:before {
	content:'\f00c'
}
.course-container p.sensei-message.info, .course p.sensei-message.info, .lesson p.sensei-message.info, .quiz p.sensei-message.info, .learner-info p.sensei-message.info, .course-container div.sensei-message.info, .course div.sensei-message.info, .lesson div.sensei-message.info, .quiz div.sensei-message.info, .learner-info div.sensei-message.info {
	background:#f5e9d4
}
.course-container p.sensei-message.info:before, .course p.sensei-message.info:before, .lesson p.sensei-message.info:before, .quiz p.sensei-message.info:before, .learner-info p.sensei-message.info:before, .course-container div.sensei-message.info:before, .course div.sensei-message.info:before, .lesson div.sensei-message.info:before, .quiz div.sensei-message.info:before, .learner-info div.sensei-message.info:before {
	content:'\f05a'
}
.course-container p.sensei-message.info a, .course p.sensei-message.info a, .lesson p.sensei-message.info a, .quiz p.sensei-message.info a, .learner-info p.sensei-message.info a, .course-container div.sensei-message.info a, .course div.sensei-message.info a, .lesson div.sensei-message.info a, .quiz div.sensei-message.info a, .learner-info div.sensei-message.info a {
	color:#3b3b3b
}
.course-container p.sensei-message.info a:hover, .course p.sensei-message.info a:hover, .lesson p.sensei-message.info a:hover, .quiz p.sensei-message.info a:hover, .learner-info p.sensei-message.info a:hover, .course-container div.sensei-message.info a:hover, .course div.sensei-message.info a:hover, .lesson div.sensei-message.info a:hover, .quiz div.sensei-message.info a:hover, .learner-info div.sensei-message.info a:hover {
	color:#2f2f2f
}
.course-container p.sensei-message.note, .course p.sensei-message.note, .lesson p.sensei-message.note, .quiz p.sensei-message.note, .learner-info p.sensei-message.note, .course-container div.sensei-message.note, .course div.sensei-message.note, .lesson div.sensei-message.note, .quiz div.sensei-message.note, .learner-info div.sensei-message.note {
	background:#fef6d2
}
.course-container p.sensei-message.note:before, .course p.sensei-message.note:before, .lesson p.sensei-message.note:before, .quiz p.sensei-message.note:before, .learner-info p.sensei-message.note:before, .course-container div.sensei-message.note:before, .course div.sensei-message.note:before, .lesson div.sensei-message.note:before, .quiz div.sensei-message.note:before, .learner-info div.sensei-message.note:before {
	content:'\f0f6'
}
.course-container p.sensei-message.normal, .course p.sensei-message.normal, .lesson p.sensei-message.normal, .quiz p.sensei-message.normal, .learner-info p.sensei-message.normal, .course-container div.sensei-message.normal, .course div.sensei-message.normal, .lesson div.sensei-message.normal, .quiz div.sensei-message.normal, .learner-info div.sensei-message.normal {
	background:#f5e9d4;
	padding:9px 15px
}
.course-container p.sensei-message .view-quiz, .course p.sensei-message .view-quiz, .lesson p.sensei-message .view-quiz, .quiz p.sensei-message .view-quiz, .learner-info p.sensei-message .view-quiz, .course-container div.sensei-message .view-quiz, .course div.sensei-message .view-quiz, .lesson div.sensei-message .view-quiz, .quiz div.sensei-message .view-quiz, .learner-info div.sensei-message .view-quiz {
	float:right
}
.course-container a.button, .course a.button, .lesson a.button, .quiz a.button, .course-container a.comment-reply-link, .course a.comment-reply-link, .lesson a.comment-reply-link, .quiz a.comment-reply-link, .course-container #commentform #submit, .course #commentform #submit, .lesson #commentform #submit, .quiz #commentform #submit, .course-container .submit, .course .submit, .lesson .submit, .quiz .submit, .course-container input[type=submit], .course input[type=submit], .lesson input[type=submit], .quiz input[type=submit], .course-container input.button, .course input.button, .lesson input.button, .quiz input.button, .course-container button.button, .course button.button, .lesson button.button, .quiz button.button {
	display:inline-block;
	padding:8px 15px 7px;
	border:0;
	color:#fff;
	text-align:center;
	text-shadow:none;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	font-size:11px;
	font-family:inherit;
	cursor:pointer;
	overflow:visible;
	width:auto;
	line-height:1.618em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	white-space:nowrap;
	-webkit-appearance:none;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	background:#52a8e8;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.course-container a.button:hover, .course a.button:hover, .lesson a.button:hover, .quiz a.button:hover, .course-container a.comment-reply-link:hover, .course a.comment-reply-link:hover, .lesson a.comment-reply-link:hover, .quiz a.comment-reply-link:hover, .course-container #commentform #submit:hover, .course #commentform #submit:hover, .lesson #commentform #submit:hover, .quiz #commentform #submit:hover, .course-container .submit:hover, .course .submit:hover, .lesson .submit:hover, .quiz .submit:hover, .course-container input[type=submit]:hover, .course input[type=submit]:hover, .lesson input[type=submit]:hover, .quiz input[type=submit]:hover, .course-container input.button:hover, .course input.button:hover, .lesson input.button:hover, .quiz input.button:hover, .course-container button.button:hover, .course button.button:hover, .lesson button.button:hover, .quiz button.button:hover {
	text-decoration:none;
	background:#3b9de5
}
.course-container a.button:active, .course a.button:active, .lesson a.button:active, .quiz a.button:active, .course-container a.comment-reply-link:active, .course a.comment-reply-link:active, .lesson a.comment-reply-link:active, .quiz a.comment-reply-link:active, .course-container #commentform #submit:active, .course #commentform #submit:active, .lesson #commentform #submit:active, .quiz #commentform #submit:active, .course-container .submit:active, .course .submit:active, .lesson .submit:active, .quiz .submit:active, .course-container input[type=submit]:active, .course input[type=submit]:active, .lesson input[type=submit]:active, .quiz input[type=submit]:active, .course-container input.button:active, .course input.button:active, .lesson input.button:active, .quiz input.button:active, .course-container button.button:active, .course button.button:active, .lesson button.button:active, .quiz button.button:active {
	border-color:#005393;
	-webkit-box-shadow:inset 0 0 7px rgba(0,0,0,.3), 0 1px 0 #fff;
	-moz-box-shadow:inset 0 0 7px rgba(0,0,0,.3), 0 1px 0 #fff;
	box-shadow:inset 0 0 7px rgba(0,0,0,.3), 0 1px 0 #fff
}
.course-container a.button.large, .course a.button.large, .lesson a.button.large, .quiz a.button.large, .course-container a.comment-reply-link.large, .course a.comment-reply-link.large, .lesson a.comment-reply-link.large, .quiz a.comment-reply-link.large, .course-container #commentform #submit.large, .course #commentform #submit.large, .lesson #commentform #submit.large, .quiz #commentform #submit.large, .course-container .submit.large, .course .submit.large, .lesson .submit.large, .quiz .submit.large, .course-container input[type=submit].large, .course input[type=submit].large, .lesson input[type=submit].large, .quiz input[type=submit].large, .course-container input.button.large, .course input.button.large, .lesson input.button.large, .quiz input.button.large, .course-container button.button.large, .course button.button.large, .lesson button.button.large, .quiz button.button.large {
	font-size:1.387em
}
.course-container a.button.small, .course a.button.small, .lesson a.button.small, .quiz a.button.small, .course-container a.comment-reply-link.small, .course a.comment-reply-link.small, .lesson a.comment-reply-link.small, .quiz a.comment-reply-link.small, .course-container #commentform #submit.small, .course #commentform #submit.small, .lesson #commentform #submit.small, .quiz #commentform #submit.small, .course-container .submit.small, .course .submit.small, .lesson .submit.small, .quiz .submit.small, .course-container input[type=submit].small, .course input[type=submit].small, .lesson input[type=submit].small, .quiz input[type=submit].small, .course-container input.button.small, .course input.button.small, .lesson input.button.small, .quiz input.button.small, .course-container button.button.small, .course button.button.small, .lesson button.button.small, .quiz button.button.small {
	font-size:.857em
}
.course-container a.button.course-complete, .course a.button.course-complete, .lesson a.button.course-complete, .quiz a.button.course-complete, .course-container a.comment-reply-link.course-complete, .course a.comment-reply-link.course-complete, .lesson a.comment-reply-link.course-complete, .quiz a.comment-reply-link.course-complete, .course-container #commentform #submit.course-complete, .course #commentform #submit.course-complete, .lesson #commentform #submit.course-complete, .quiz #commentform #submit.course-complete, .course-container .submit.course-complete, .course .submit.course-complete, .lesson .submit.course-complete, .quiz .submit.course-complete, .course-container input[type=submit].course-complete, .course input[type=submit].course-complete, .lesson input[type=submit].course-complete, .quiz input[type=submit].course-complete, .course-container input.button.course-complete, .course input.button.course-complete, .lesson input.button.course-complete, .quiz input.button.course-complete, .course-container button.button.course-complete, .course button.button.course-complete, .lesson button.button.course-complete, .quiz button.button.course-complete {
	background:#63a95f
}
.course-container a.button.course-complete:hover, .course a.button.course-complete:hover, .lesson a.button.course-complete:hover, .quiz a.button.course-complete:hover, .course-container a.comment-reply-link.course-complete:hover, .course a.comment-reply-link.course-complete:hover, .lesson a.comment-reply-link.course-complete:hover, .quiz a.comment-reply-link.course-complete:hover, .course-container #commentform #submit.course-complete:hover, .course #commentform #submit.course-complete:hover, .lesson #commentform #submit.course-complete:hover, .quiz #commentform #submit.course-complete:hover, .course-container .submit.course-complete:hover, .course .submit.course-complete:hover, .lesson .submit.course-complete:hover, .quiz .submit.course-complete:hover, .course-container input[type=submit].course-complete:hover, .course input[type=submit].course-complete:hover, .lesson input[type=submit].course-complete:hover, .quiz input[type=submit].course-complete:hover, .course-container input.button.course-complete:hover, .course input.button.course-complete:hover, .lesson input.button.course-complete:hover, .quiz input.button.course-complete:hover, .course-container button.button.course-complete:hover, .course button.button.course-complete:hover, .lesson button.button.course-complete:hover, .quiz button.button.course-complete:hover {
	background:#579b53
}
.course-container a.button.course-delete, .course a.button.course-delete, .lesson a.button.course-delete, .quiz a.button.course-delete, .course-container a.comment-reply-link.course-delete, .course a.comment-reply-link.course-delete, .lesson a.comment-reply-link.course-delete, .quiz a.comment-reply-link.course-delete, .course-container #commentform #submit.course-delete, .course #commentform #submit.course-delete, .lesson #commentform #submit.course-delete, .quiz #commentform #submit.course-delete, .course-container .submit.course-delete, .course .submit.course-delete, .lesson .submit.course-delete, .quiz .submit.course-delete, .course-container input[type=submit].course-delete, .course input[type=submit].course-delete, .lesson input[type=submit].course-delete, .quiz input[type=submit].course-delete, .course-container input.button.course-delete, .course input.button.course-delete, .lesson input.button.course-delete, .quiz input.button.course-delete, .course-container button.button.course-delete, .course button.button.course-delete, .lesson button.button.course-delete, .quiz button.button.course-delete {
	background:#ed6c6c
}
.course-container a.button.course-delete:hover, .course a.button.course-delete:hover, .lesson a.button.course-delete:hover, .quiz a.button.course-delete:hover, .course-container a.comment-reply-link.course-delete:hover, .course a.comment-reply-link.course-delete:hover, .lesson a.comment-reply-link.course-delete:hover, .quiz a.comment-reply-link.course-delete:hover, .course-container #commentform #submit.course-delete:hover, .course #commentform #submit.course-delete:hover, .lesson #commentform #submit.course-delete:hover, .quiz #commentform #submit.course-delete:hover, .course-container .submit.course-delete:hover, .course .submit.course-delete:hover, .lesson .submit.course-delete:hover, .quiz .submit.course-delete:hover, .course-container input[type=submit].course-delete:hover, .course input[type=submit].course-delete:hover, .lesson input[type=submit].course-delete:hover, .quiz input[type=submit].course-delete:hover, .course-container input.button.course-delete:hover, .course input.button.course-delete:hover, .lesson input.button.course-delete:hover, .quiz input.button.course-delete:hover, .course-container button.button.course-delete:hover, .course button.button.course-delete:hover, .lesson button.button.course-delete:hover, .quiz button.button.course-delete:hover {
	background:#ea5555
}
#submit {
	-webkit-appearance:none
}
@media only screen and (min-width:768px) {
#main .course .course-meta .course-start {
	margin-top:.53em
}
.single.logged-in #main .type-course {
	border:0
}
.single.logged-in #main .type-course header h1 {
	margin-right:150px
}
}


/*----*****---- << Sensei >> ----*****----*/

/*#main .course .sensei-course-meta span { border-right:1px solid #dddddd; padding:0px 10px; }
#main .course .sensei-course-meta span:last-child { border:0px; }*/

#main article.course img { border-radius:5px; margin-bottom:10px; max-width:250px; height:auto; }
#main .course header h2 { font-size:22px; margin-bottom:5px; }
#main .course, #main .course-container { border:0px; }

/*.module-lessons { margin-top:-30px; }*/

.register-section { margin:20px 0px 0px; }

.course-container .navigation a, .navigation a { color:#303030; font-size:14px; padding:9px 15px 7px; line-height:normal; display:inline-block; margin:10px 0px 0px; cursor:pointer; font-weight:bold; outline:none; border:2px solid #201c1d; border-radius:3px; }
.course-container .navigation a:hover, .navigation a:hover { color:#ffffff; }
#main #primary > .course.type-course { margin:0px; }
.single.logged-in #main .type-course header h1 { font-size:24px; margin-bottom:15px; }
.lesson > header h1, .quiz > header h1 { font-size:24px; }

.lesson-meta span { color:#808080; }
.lesson .entry { font-size:14px; font-weight:normal; }
.lesson .entry p span { color:#808080; }

.sensei-course-meta, .sensei-course-meta a, .lesson p.lesson-meta, .lesson p.lesson-meta a { color:#AFAFAF; }

.course, .lesson { margin-bottom:40px; }
.course header h2 { margin-bottom:5px; font-weight:400; }	
.course-lessons > header > h2 { margin-bottom:15px; } 
.course .entry .sensei-course-meta, .course-meta, .lesson-meta { margin-bottom:15px; }
.lesson-meta span { margin-right:8px; }

.quiz form ol#sensei-quiz-list li > span, .quiz form ol#sensei-quiz-list li { color:#303030; }

.caroufredsel_wrapper .dt-courses-carousel > .column { border-bottom-width:2px; border-bottom-style: solid; border-radius:5px; }
.dt-courses-carousel .dt-sc-course-thumb img { float:left; }
.dt-courses-carousel .dt-sc-course-content { padding:25px 20px 20px; float:left; width:100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-width:1px; border-style:solid; border-top:0; }
.dt-courses-carousel .dt-sc-course-content .dt-sc-course-meta { margin-bottom:2px; }
.dt-courses-carousel .dt-sc-course-content .dt-sc-course-meta a { font-weight:600; font-size:13px; }
.dt-courses-carousel .dt-sc-course-content h2 { font-size:18px; font-weight:normal; margin-bottom:20px; }
.dt-courses-carousel .dt-sc-course-content a.dt-sc-course-price { float:left; padding:6px 10px; font-size:17px; border-radius:5px; color:#fff; }
.dt-courses-carousel .dt-sc-course-content .dt-sc-lessons { float:right; font-size:12px; margin-top:10px; }

#post-entries .nav-prev { float:left; }
#post-entries .nav-next { float:right; }

.lesson .entry { margin-bottom:10px; }
.lesson .entry .video { margin-bottom:40px; }
.lesson > header h1 { margin-bottom:15px; }

#post-entries .meta-nav, .navigation .meta-nav { display:none; }

#post-entries .nav-prev a:before, #post-entries .nav-next a:after, .widget_sensei_course_categories ul li a:before, .course-container .navigation a:after, .navigation .nav-previous a:before, .navigation .nav-next a:after { font-family: "FontAwesome"; font-weight: normal; font-style: normal; text-decoration: inherit; display: inline-block; line-height: 1; }

#post-entries .nav-prev a:before, .navigation .nav-previous a:before { content:"\f104"; margin-right:5px; }
#post-entries .nav-next a:after, .course-container .navigation a:after, .navigation .nav-next a:after { text-align: right; content: "\f105"; margin-left:5px; }

.status.register > a { text-decoration: underline; }

#customer_login form { display:inline-block; width:100%; margin-bottom:15px; }

button ins { color:#fff; }

nav#post-entries { border-top:1px solid #e2d6c1; padding-top:25px; display: inline-block; width: 100%; margin-top: 30px; }

/*----*****---- << Widgets >> ----*****----*/
.widget_sensei_course_component ul li a img, .widget_sensei_lesson_component ul li a img, .widget_sensei_category_courses ul li a img { border-radius:5px; width:80px; height:auto; margin-right: 15px; margin-bottom:10px; }
.widget_sensei_course_component ul li .course-author { font-size:11px; font-style:italic; }
.widget_sensei_course_categories ul li { padding-left:20px; }
.widget_sensei_course_categories ul li:before { content: "\f046"; }
.widget.widget_sensei_course_component ul li { padding-left:0px; }
.widget.widget_sensei_course_component ul li:before { content:""; }

.widget .course-price ins { background:none; }

.widget.widget_sensei_category_courses ul li { padding-left:0px; }
.widget.widget_sensei_category_courses ul li:before { content:""; }
.widget.widget_sensei_category_courses ul li .course-author, .widget.widget_sensei_lesson_component ul li .course-author { font-size:12px; }
.widget.widget_sensei_category_courses ul li .course-lesson-count { font-size:12px; }

/*----*****---- << Tabs >> ----*****----*/
	
#my-courses.ui-tabs { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
#my-courses ul.ui-tabs-nav { float:left; margin:0px; padding:0px; width:100%; border-bottom:1px solid #e2d6c1; border-radius:5px; }
#my-courses ul.ui-tabs-nav li { float:left; display:inline; margin:0px 1px 0px 0px; padding:0px; line-height:normal; }
#my-courses ul.ui-tabs-nav li:first-child { border-radius:5px 0px 0px 0px; }
#my-courses.ui-tabs .ui-tabs-nav li a { float:left; margin:0px; padding:11px 18px; font-size:14px; color:#303030; text-align:center; border:1px solid #e2d6c1; border-bottom:1px solid transparent; border-bottom:0px; font-weight:normal; border-radius:5px 5px 0px 0px; }
#my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a { color:#ffffff; border-radius:5px 5px 0px 0px; }

#my-courses .ui-tabs-panel {  border-top:1px solid #e2d6c1; line-height:20px; float:left; clear:both; width:100%; margin:-1px 0px 0px; padding:25px 1.5% 15px; border-radius:0px 0px 5px 5px; }
#my-courses .ui-tabs-panel, #my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#my-courses .course-container .archive-header h1 { border:0; font-size:22px; text-transform:uppercase; margin-bottom:15px; }

.meter > span { line-height:24px; padding-top:0; }

#my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] { width:100%; }

.course-meta .cart { float:right; margin:0px 0px 10px 20px; }
.single-course .course-meta .cart { float:left; margin:0px 10px 0px 0px; }
.single-course .course-meta .add-to-cart-login { line-height:60px; }
.single-course .course-meta .cart .single_add_to_cart_button { float:left; }
.single-course .course-meta .cart { width:auto; }
.module .module-status { top:8px; }

.module-lessons > article { background:url(splitter.png) bottom repeat-x; padding:0px 0px 30px !important; margin:30px 0px 0px !important; }

/*** New sensai ***/
.my-messages-link-container a.my-messages-link, .sensei-results-links .sensei-certificate-link, #attached-media ul li a, .order-again a.button { padding:8px 15px 7px; display:inline-block; color:#fff; border-radius:5px; }
.my-messages-link-container a.my-messages-link:hover, .sensei-results-links .sensei-certificate-link:hover, #attached-media ul li a:hover, .order-again a.button:hover { background:#303030; }
.sensei-results-links { display:inline-block; }
.status completed { margin-right:5px; display:inline-block; }
.single .sensei-course-participants { font-weight:bold; margin-top:-10px; }

.sensei-results-links .button { margin-right:5px; }

#attached-media ul li { display:inline-block; margin-right:10px; }

.widget_sensei_course_participants .sensei-course-participants-list li:before, .widget_sensei_course_progress ul li:before { content:none; }
.widget_sensei_course_participants .sensei-course-participants-list li, .widget_sensei_course_progress ul li { padding-left:0; }
.sensei-course-participants-list li .learner-name { display:inline; font-size:15px; }
.widget_sensei_course_progress ul.course-progress-lessons li { width:100%; }
.widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span { width:100%; box-sizing:border-box; }

.widget_sensei_course_progress ul.course-progress-navigation li { clear:none; }
.widget_sensei_course_progress ul.course-progress-lessons li.course-progress-module h3 { font-size:18px; }

.widget.widget_sensei_course_progress header { padding:0; }
.widget.widget_sensei_course_progress header h2 { font-size:16px; font-weight:500; text-transform:uppercase; margin-bottom:0px; }
.widget.widget_sensei_course_progress header h2::after { content: ""; display: inline-block; height: 3px; width: 40px; position:relative; top:-6px; }

.widget ul.course-progress-navigation { background:transparent; margin-bottom:10px; box-sizing: border-box; border-top:0; }
.widget ul.course-progress-navigation li { width:24%; padding:0; }
.widget ul.course-progress-navigation li a { line-height:12px; padding:0; }
.widget ul.course-progress-navigation li a, .widget ul.course-progress-navigation li a:hover, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a:hover, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-module { background:transparent; }
.widget.widget_sensei_course_progress .course-progress-lessons .course-progress-module { padding-left:0; padding-right:0; }
.widget ul.course-progress-navigation li.prev a { border:0; }
.widget ul.course-progress-navigation li.prev a::before { content: "\f104"; }
.widget ul.course-progress-navigation li.next a::after { content:"\f105"; }

.widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson.current span, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span { background:transparent; padding-left:30px; padding-right:0; }
.widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a::before, .widget.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span::before { left:0; }
.widget.widget_sensei_course_progress { background:transparent; }

.progress.statement.course-completion-rate { font-weight:bold; }

.sensei-breadcrumb { float: left; width: 100%; box-sizing:border-box; background:rgba(0,0,0,0.03); }

.course-results-lessons .course > h3 { background:rgba(0, 0, 0, 0.05); padding:0.6em 0 0.6em 20px; font-size:20px; font-weight:normal; }
.course-results-lessons .course > h2 { font-size:19px; font-weight:normal; }
.course-results-lessons .course > h2.total-grade { font-weight:600; }
.sensei-share-your-grade.buttons .fb-share-button.fb_iframe_widget > span { position:relative; top:-8px; }
#main .course .module header h2 { font-size:19px; padding-top:14px; padding-bottom:14px; }
.sensei-share-your-grade.message > h2, .single #attached-media > h2 { font-size:22px; }
.single-lesson h2, #private_message, .course-results-lessons .course h3 { margin-bottom:15px; }
.progress.statement.course-completion-rate { float:left; clear:both; }
.course-results-lessons > header { margin-bottom:10px; }

#learner-info h2 { font-size:25px; }
#learner-info > h2 { font-size:20px; }
#learner-info .ui-tabs.ui-widget.ui-widget-content { margin-top:20px; }
#learner-info #certificates_user_settings ~ h2 { width:100%; display:inline-block; margin-top:11px; }
p.order-again { margin-bottom:20px; }
.single .post.module { margin-top:10px !important; }
.module .module-lessons ul { margin-bottom:10px !important; }
.module .module-lessons ul li a:hover { background:rgba(0, 0, 0, 0.06); }
.contact-teacher { float: left; margin-bottom: 20px; width: 100%; }
#certificates_user_settings .certificates_user_meta > p { line-height:59px; }
#certificates_user_settings .certificates_user_meta .certificates-submit.complete { float:none; margin-left:10px; display:inline-block; margin-top:0; }
#certificates_user_settings, .sensei-share-your-grade.message > h2, #attached-media > h2 { margin-bottom:15px; }

header > h1 { font-size: 27px; margin-bottom:15px; }
h3#private_message { font-size:22px; }
#attached-media > ul { margin-bottom: 0; }

.course-meta > form { float:left; width:100%; }
.course-meta > form .course-start { float:left; margin-bottom:15px; }

.sensei-course-filters li { display:inline-block; }
.sensei-course-filters li a { border: 2px solid #201c1d; border-radius: 3px; color: #303030; cursor: pointer; display: inline-block; font-weight: 600; line-height: 28px; margin: 6px 5px 0; padding: 4px 20px; text-transform: uppercase; background:inherit; }
.sensei-course-filters li a.active, .sensei-course-filters li a:hover { color:#fff; }
.course-container .course-content .entry h3 { margin-bottom:10px; }

.course-meta.course-enrolment .sensei-results-links .view-results { padding: 10px 15px; background-color: #716969; border-radius: 5px; color: #fff; }
.course-meta.course-enrolment .sensei-results-links .view-results:hover { background-color:rgba(0, 0, 0, 0.66); }


/*** New sensei 2018 ***/

.sensei #my-courses.ui-widget.ui-widget-content, .sensei #my-courses.ui-tabs ul.ui-tabs-nav, .sensei #my-courses .ui-state-default, .sensei #my-courses .ui-widget-content .ui-state-default, .sensei #my-courses .ui-widget-header .ui-state-default, .learner-profile #my-courses.ui-widget.ui-widget-content, .learner-profile #my-courses.ui-tabs ul.ui-tabs-nav, .learner-profile #my-courses .ui-state-default, .learner-profile #my-courses .ui-widget-header .ui-state-default { border: none; background: none; }
.sensei_message-container .sensei_message { margin-bottom: 50px; }
.sensei_message-container .sensei_message h2, .sensei #main .course > header h2 { margin-bottom: 10px; }
.sensei #main .course .entry.fix { margin: 20px 0 40px; }
.sensei .module .module-description:empty { display: none; }
.sensei .module .module-lessons ul li a:before { color: inherit; }
.sensei .module .module-lessons ul li { padding: 0; }
.module .module-lessons ul li.completed a { color: #63a95f; }